spring:
  application:
    name: odos-server-v2
  config:
    import:
      - classpath:application-security.yml

  datasource:
    url: jdbc:mysql://${MYSQL_URL}:${MYSQL_PORT}/${MYSQL_NAME}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
    baseline-description: baseline-existing-schema

logging:
  level:
    root: INFO
    com.odos.odos_server_v2: DEBUG
    com.odos.odos_server_v2.domain.diary.service.DiaryService: DEBUG

server:
  forward-headers-strategy: framework

cloud:
  aws:
    s3:
      bucket: ${AWS_S3_BUCKET}